numpy
scipy
pandas
matplotlib
seaborn
biopython
prody
mdtraj
biotite
openmm
plotly
scikit-learn
torch
bio-embeddings
nglview
nbconvert
tensorflow
transformers
datasets
torch
torchvision
pillow  # PIL is now Pillow
requests
Bio
shutil
pytest
py3Dmol
pylzma
backports.lzma